@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}