@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Regras de Impressão */
@media print {
  body * {
    visibility: hidden;
  }
  .print-only, .print-only * {
    visibility: visible;
  }
  .print-only {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /* Força fonte monoespaçada para alinhamento de recibo */
    font-family: 'Courier New', Courier, monospace !important;
  }
  @page {
    margin: 0;
    size: auto;
  }
}